body {

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.top-1 {
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-decoration: solid;
    text-shadow: 4px 4px 12px black;
    text-align: center;
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 150px;

}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-2 {
    padding-top: 50px;
    text-align: center;
    color: black;

}

.ul {
    display: table;
    margin: 0 auto;
}

.bg {
    text-align: center;
    color: darkslategrey;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    float: left;
    display: inline;
    margin-right: 30px;
    background-image: linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
    padding-top: 50px;
}

.OtherAmt {
    color: gray;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
    padding-bottom: 40px;

}

.flex-cont {
    display: flex;
    margin-bottom: 50px;

}

.half-width {
    width: 50%;
    padding-left: 3.5%;
}

.half-width img {
    width: 80%;
    margin-bottom: 10%;
}

.distrib-item {
    width: 50%;
    margin-left: 8%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-top: 10px;

}

.email {
    padding: 70px 80px;
    width: 50%;
    margin-left: 20%;

    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 50px;


}

.distrib {}

#title {
    font-size: 70px;
}

#p {
    font-weight: 700;
    color: white;
    text-decoration: solid;
    font-size: x-large;
}

#p2 {
    font-weight: 700;
    color: gray;
    text-decoration: solid;
    font-size: medium;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 30px;
    text-align: center;
}

#dnt {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

#expr {
    margin-left: 15px;
}

#food {
    background-color: rgb(226, 241, 247);
}

#family {
    background-color: rgb(248, 206, 245);
}

#edu {
    background-color: rgb(240, 214, 160);
}

#abt {
    padding-top: 1px;
    font-size: medium;
    text-align: justify;
    padding-right: 80px;
    padding-bottom: 30px;
}

#help {
    font-size: larger;
}

footer h2 {
    background: rgba(0, 0, 0, 0.5) left top;
    text-align: center;
    height: 120px;
    clear: both;
    padding-top: 80px;
    color: yellow
}