body {
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.top-1 {
    color: white;
    text-decoration: solid;
    text-shadow: 4px 4px 12px black;
    text-align: center;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

#title {
    font-size: 70px;
}

#p {
    font-weight: 700;
    color: white;
    text-decoration: solid;
    font-size: x-large;
}